/* singer-profile.component.css */
.singer-profile {
    padding: 20px;
  }
  
  .singer-profile img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  h1 {
    font-size: 2rem;
    color: #00bcd4;
  }
  
  p {
    color: #00bcd4;
    font-size: 1.2rem;
  }

  .value{
    color: whitesmoke;
    font-size: 1.2rem;
  }
  button {
    padding: 10px 20px;
    background-color: #00bcd4;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
  }
  
  button:hover {
    background-color: #00acc1;
  }