/* Singer Categories Section Styles */
.singer-categories {
    padding: 50px 20px;
    text-align: center;
}

.categories-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.category-frame {
    width: 80%;
    overflow: hidden;
    position: relative;
}

.category {
    display: none; /* Hide all categories initially */
    text-align: center;
}

.category.active {
    display: block; /* Show only the active category */
}

.nav-button {
    background-color: #00bcd4;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.nav-button.left {
    left: 0;
}

.nav-button.right {
    right: 0;
}

.nav-button:hover {
    background-color: #00acc1;
}
