<!-- Featured Singers Section -->
<section class="featured-singers">
    <h2>Featured Singers</h2>
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="singer1.jpg" alt="Singer 1">
            <div class="text">Singer Name 1<br>Genre | Location</div>
        </div>
        <div class="mySlides fade">
            <img src="singer2.jpg" alt="Singer 2">
            <div class="text">Singer Name 2<br>Genre | Location</div>
        </div>
        <div class="mySlides fade">
            <img src="singer3.jpg" alt="Singer 3">
            <div class="text">Singer Name 3<br>Genre | Location</div>
        </div>
        <!-- Add more slides as needed -->
    </div>
</section>