<div class="logo">
  <a href="#">BOOK 'em</a>
</div>
<div class="container" id="container" [ngClass]="{'right-panel-active': !isSignUp}">
  <div class="form-container sign-up-container">
    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
      <h1>Create Account</h1>
      <input formControlName="firstName" type="text" placeholder="First Name" />
      <input formControlName="lastName" type="text" placeholder="Last Name" />
      <input formControlName="email" type="email" placeholder="Email" />
      <input formControlName="contactNo" type="text" placeholder="Contact Number" />
      <input formControlName="password" type="password" placeholder="Password" />
      <input formControlName="confirmPassword" type="password" placeholder="Confirm Password" />
      <button type="submit">Sign Up</button>
    </form>
  </div>

  <div class="form-container sign-in-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h1>Sign In</h1>
      <input formControlName="email" type="email" placeholder="Email" />
      <input formControlName="password" type="password" placeholder="Password" />
      <a href="#" (click)="forgotPassword()">Forgot your password?</a>
      <button type="submit">Sign In</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us, please login with your personal info</p>
        <button class="ghost" id="signIn" (click)="toggleForm()">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your details and start your journey with us</p>
        <button class="ghost" id="signUp" (click)="toggleForm()">Sign Up</button>
      </div>
    </div>
  </div>
</div>
