<!-- all-singers.component.html -->
<!-- Header Section -->
<header>
    <div class="logo">
        <a href="#">BOOK 'em</a>
    </div>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li class="dropdown">Singers
                <div class="dropdown-content">
                    <a [routerLink]="['/singers', 'Rap']">Rap</a>
                    <a [routerLink]="['/singers', 'Bollywood']">Bollywood</a>
                    <a [routerLink]="['/singers', 'Punjabi']">Punjabi</a>
                    <a [routerLink]="['/singers', 'Sufi']">Sufi</a>
                </div>
            </li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
  
    <!-- Search Bar -->
    <div class="search-bar">
        <input type="text" placeholder="Search for singers...">
    </div>
</header>
   <!-- Navigation with conditional rendering -->

<div class="process-payment-container">
    <h2>Select Payment Method</h2>
  
    <!-- UPI Integration -->
    <div class="payment-option">
      <h3>UPI</h3>
      <p>Pay using UPI (Google Pay, PhonePe, Paytm, etc.)</p>
      <button (click)="payWithRazorpay('upi')">Pay with UPI</button>
    </div>
  
    <!-- Razorpay Net Banking, Cards, etc. -->
    <div class="payment-option">
      <h3>Credit/Debit Card or Net Banking</h3>
      <p>Pay using your card or Net Banking.</p>
      <button (click)="payWithRazorpay('card')">Pay with Card</button>
      <button (click)="payWithRazorpay('netbanking')" class="nb">Pay with Net Banking</button>
    </div>
  </div>
  